#customConfirm {
    z-index: 1;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    width: 500px;
    height: 150px; /* 높이 조정 */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center; /* 수평 가운데 정렬 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.confirm-content {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center; /* 수평 가운데 정렬 */
}

.confirm {
    width: 150px;
    height: 35px;
    background-color: #122639;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 가운데 정렬 */
    margin: 0 10px; /* 여백 추가 */
}

#confirm-message {
    width: 380px;
    margin-top: 10px;
    margin-bottom: 15px;
}

span {
    font-size: 15px;
    color: white;
}

#confirmBox {
    display: flex;
    justify-content: center;
}

#confirm-message > #red {
	color: red;
}
